@model IEnumerable<BTLWEB.Models.RapPhim>
<!DOCTYPE html>
<html>
<head>
    <title>Rạp chiếu</title>
    <link rel="stylesheet" href="~/css/styleRapChieuPhim.css" />
</head>
<div class="content-body">
    <div class="container-fluid">
        <h4 class="Title" font-weight: bold">KINSLEY CINEMAS</h4>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatables-rap" class="display table table-striped" style="min-width: 845px; color: black">
                                <thead>
                                    <tr>
                                        <th>Tên Rạp Chiếu</th>
                                        <th>Tổng Số Phòng</th>
                                        <th>Thành Phố</th>
                                        <th>Quận Huyện</th>
                                        <th>Phường Xã</th>
                                        <th>Khung Giờ </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rapPhim in Model)
                                    {
                                        <tr>
                                            <td class="special-column">@rapPhim.TenRapChieu</td>
                                            <td>@rapPhim.TongSoPhong</td>
                                            <td>@rapPhim.ThanhPho</td>
                                            <td>@rapPhim.QuanHuyen</td>
                                            <td>@rapPhim.PhuongXa</td>
                                            <td>@rapPhim.KhungGio</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
